<div class="addLessonBlock">
    <div class="groupAddBlock">
        <table style="max-width: 200px">
            <tr>
                <td>
                    <table id="pos-table" >
                        <caption><p>Выберите позиции пары:</p></caption>
                        <tr class="groupAddBlock-field">
                            <td><p>Номер недели:</p></td>
                            <td>
                                <input type="number" id="week" min="0" max="{{weeks}}" ng-model="week" value="1" step="1">
                                <span style="font-size: 11pt">0-все недели</span>
                            </td>
                        </tr>
                        <tr class="groupAddBlock-field">
                            <td><p>День недели:</p></td>
                            <td>
                                <select name="workday" id="workday">
                                    <option ng-repeat="day in workdays" value="{{day.id}}" >{{day.label}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="groupAddBlock-field">
                            <td><p>Время:</p></td>
                            <td>
                                <select name="workday" id="time">
                                    <option ng-repeat="time in times" value="{{time.id}}" >{{time.label}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="buttonClass" id="addPosBut" ng-click="addPosition()">Добавить</button>
                            </td>
                        </tr>


                    </table>
                </td>
                <td>
                    <table>
                        <tr class="groupAddBlock-field" ng-show="showDispFields">
                            <td><p style="text-align: right">Преподаватель:</p></td>
                            <td>
                                <input type="text" id="teacher" spellcheck="false" style="width: 265px"/>
                            </td>
                        </tr>
                        <tr class="groupAddBlock-field" >
                            <td><p style="text-align: right">Аудитория:</p></td>
                            <td>
                                <input type="text" id="classroom" spellcheck="false" style="width: 265px"/>
                            </td>
                        </tr>
                        <tr class="groupAddBlock-field" ng-show="showDispFields">
                            <td><p style="text-align: right">Группы:</p></td>
                            <td>
                                <input type="text" id="groups" spellcheck="false" style="width: 265px"/>
                                `       <group-box></group-box>
                            </td>
                        </tr>
                        <tr class="groupAddBlock-field" ng-show="showDispFields">
                            <td><p style="text-align: right">Дисциплина:</p></td>
                            <td>
                                <input type="text" id="subject" spellcheck="false" style="width: 265px"/>
                            </td>
                        </tr>
                        <tr class="groupAddBlock-field" ng-show="showDispFields">
                            <td><p style="text-align: right">Тип занятия:</p></td>
                            <td>
                                <select id="type" style="width: 265px">
                                    <option  ng-repeat="type in types" value="{{type.id}}" >{{type.label}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>

        </table>
    <table style="min-height: 100px; width: 100%">
        <tr>
            <td rowspan="2" style="width: 200px">
                <position-box></position-box>
            </td>
            <td rowspan="2" style="text-align: center; width: 400px">
                <span ng-if="messageShow" style="margin-bottom: 10px">{{messageInfo}}</span><br>
                <button id="checkLesBut" class="buttonClass" style="margin-left: -80px" ng-click="checkPositions()">Проверить корректность</button>
                <button id="addLesBut" class="buttonClass" style="margin-left: 10px" ng-click="addLesson()">Добавить занятие</button>
            </td>
        </tr>
        </tr>
    </table>
    </div>
</div>