<form action="" class="groupAddBlock">
    <table>
        <tr class="groupAddBlock-field">
            <td><p>Номер недели:</p></td>
            <td>
                <input type="number" id="week" min="1" max="{{weeks}}" ng-model="week" value="1" step="1">
            </td>
        </tr>
        <tr class="groupAddBlock-field">
            <td><p>День недели:</p></td>
            <td>
                <select name="workday" id="workday">
                    <option ng-repeat="day in workdays" value="{{day.id}}" >{{day.label}}</option>
                </select>
            </td>
        </tr>
        <tr class="groupAddBlock-field">
            <td><p>Время:</p></td>
            <td>
                <select name="workday" id="time">
                    <option ng-repeat="time in times" value="{{time.id}}" >{{time.label}}</option>
                </select>
            </td>
        <tr class="groupAddBlock-field">
            <td><p>Преподаватель:</p></td>
            <td>
                <input type="text" id="teacher" spellcheck="false" style="width: 300px"/>
            </td>
        </tr>
        <tr class="groupAddBlock-field">
            <td><p>Аудитория:</p></td>
            <td>
                <input type="text" id="classroom" spellcheck="false" style="width: 300px"/>
            </td>
        </tr>
        <tr class="groupAddBlock-field">
            <td><p>Группы:</p></td>
            <td>
                <input type="text" id="groups" spellcheck="false" style="width: 300px"/>
                `       <group-box></group-box>
            </td>
        </tr>
        <tr class="groupAddBlock-field">
            <td><p>Дисциплина:</p></td>
            <td>
                <input type="text" id="subject" spellcheck="false" style="width: 300px"/>
            </td>
        </tr>
        <tr class="groupAddBlock-field">
            <td><p>Тип занятия:</p></td>
            <td>
                <select  id="type">
                    <option ng-repeat="type in types" value="{{type.id}}" >{{type.label}}</option>
                </select>
            </td>
        </tr>
    </table>
    <button ng-click="show()">showSellected</button>
</form>