<div class="searchBlock"><div ><input id="searchDead2" type="text" class="search-input" style="width: 400px" spellcheck="false"></div>
    <div class="filters">
        <button id="profUpdate" ng-click="filterProf()" id="prof" class="filter-button">Преподаватель</button>
        <button ng-click="filterGroup()" id="groupUpdate" class="filter-button">Группа</button>
        <span>/</span>
        <button ng-click="filterRoom()" id="roomUpdate" class="filter-button">Аудитория</button>
    </div>
</div>