<div class="timetableStyle" ng-show="timetableShow" id="{{tableId}}">
    <div class="week-number-cell" style="padding-top: 10px">
        <button ng-click="dec_week()"><</button>
        <span class="dayName">неделя <b>{{week}}</b></span>
        <button ng-click="inc_week()">></button>
    </div>
    <div class="days">
        <div class="day" ng-repeat="day in days2 track by $index" style="display: inline-block;">
<!--            <table class="day" ng-repeat="day in days2 track by $index" style="display: inline-block;">-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <p style="width: 20px">{{day.dayName}}</p>-->
<!--                    </td>-->
<!--                    <td>-->
                        <span class="dayName" style="margin-bottom: 5px">{{day.dayName}} {{day.date}}</span> <br><br>
                        <ul ng-if="day.infoLessonDtos.length != 0" ng-repeat="lesson in day.infoLessonDtos track by $index">
                            <li ng-if="lesson.status"> <span ng-click="show(lesson)"> {{lesson.time}}: <b title="{{lesson.lessonType}}" style="">{{lesson.arc}} </b></span> </li>
                            <li ng-if="!lesson.status"> <span style="text-decoration: line-through" ng-click="show(lesson)"> {{lesson.time}}: <b title="{{lesson.lessonType}}" style="">{{lesson.arc}} </b></span> </li>
                        </ul>
                        <span ng-if="day.infoLessonDtos.length === 0"><br><br>Занятий нет</span>
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
        </div>
    </div>
    <info-box ng-show="infoShow"></info-box>
</div>