<div class="timetableStyle" ng-show="timetableShow" id="{{tableId}}">
    <div class="week-number-cell" style="padding-top: 10px">
        <button ng-click="dec_week()"><</button>
        <span class="dayName">неделя <b>{{week}}</b></span>
        <button ng-click="inc_week()">></button>
    </div>
    <div class="days">
        <div class="day"  ng-repeat="day in days2 track by $index" style="display: inline-block;">
            <table>
                <caption>
                    <span ng-if="!day.status" class="dayName" style="margin-bottom: 5px">{{day.date}}</span>
                    <span ng-if="day.status" class="dayName" style="margin-bottom: 5px; border: 5px double black;" title="Сегодня">{{day.date}}</span>
                </caption>
                <tbody>
                <tr>
                    <td style="max-width: 30px">
                        <p class="dayName" style="height: 20px">{{day.dayName}}</p>
                    </td>
                    <td style="max-width: 190px">
                        <ul ng-if="day.infoLessonDtos.length != 0" ng-repeat="lesson in day.infoLessonDtos track by $index">
                            <li ng-if="lesson.status"> <span ng-click="show(lesson)"> {{lesson.time}}: <b title="{{lesson.lessonType}}" style="">{{lesson.arc}} </b></span> </li>
                            <li ng-if="!lesson.status"> <span style="text-decoration: line-through" ng-click="show(lesson)"> {{lesson.time}}: <b title="{{lesson.lessonType}}" style="">{{lesson.arc}} </b></span> </li>
                        </ul>
                        <ul>
                            <h4>
                                <span ng-if="day.infoLessonDtos.length === 0"><br><br>Занятий нет</span>
                            </h4>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <info-box ng-show="infoShow"></info-box>
</div>