<h2>Расписание </h2>
<div class="week-number-cell" style="padding-top: 10px">
    <button ng-click="dec_week()"><</button>
    <span class="dayName">неделя <b>{{week}}</b></span>
    <button ng-click="inc_week()">></button>
</div>
<div class="day" ng-repeat="day in days2 track by $index" style="display: inline-block;"> <span class="dayName">{{day.dayName}}</span>
    <ul>
        <li ng-repeat="lesson in day.infoLessonDtos track by $index"> <span ng-click="show(lesson)"> {{lesson.time}}: <b title="{{lesson.lessonType}}" style="">{{lesson.subject}} </b></span> </li>
<!--        <li ng-repeat="lesson in day.lessons"> <span ng-click="show(lesson)"> {{lesson.time}}: <b title="{{lesson.type}}">{{lesson.name}} </b></span> </li>-->
    </ul>
</div>