<div class="register-fields">
    <table ng-show="viewPage1">
        <td>
            <table style="margin-left: 10px">
                <tr>
                    <td><span class="register-label">Название</span></td>
                    <td><input id="name" style="width: 350px" ng-model="uniData.name" type="text" class="register-input"></td>
                </tr>
                <tr> <td colspan="2"><span class="register-label">Количество повторяющихся недель   </span>
                    <input type="number" id="weeksUni" min="1" max="4" ng-model="uniData.weeks" value="1" step="1" class="register-input" style="height: 20px; width: 40px">
                    </td>
                    </td>
                </tr>
                <tr> <td colspan="2"><span class="register-label">Продолжительность занятий</span>
                    <input id="durationUni" ng-model="uniData.lessonDuration" type="text" class="register-input" style="width: 50px;"><span>мин.</span>
                </td>
                </tr>
                <tr> <td colspan="3"><span class="register-label">Корпоративные цвета</span></td></tr>
                <tr>
                    <td colspan="3">
                        <table style="width: 100%">
                            <tr >
                                <td><input style="width: 78px" placeholder="000000" ng-model="uniData.color1" title="цвет фона" type="text" id="color1" class="register-input" style="width: 60px;">
                                </td>

                                <td>
                                    <input style="width: 78px" placeholder="000000" ng-model="uniData.color2" title="цвет страниц" type="text" id="color2" class="register-input" style="width: 60px;">
                                </td>
                                <td>
                                    <input style="width: 78px" placeholder="000000" ng-model="uniData.color3" title="цвет кнопок" type="text" id="color3" class="register-input" style="width: 60px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
<!--                <tr> <td><span class="register-label">Ссылка на логотип</span></td>-->
<!--                    <td><input id="url" placeholder="https://yadi.sk/d/" ng-model="uniData.Logo" type="text" class="register-input">-->

<!--                <script>-->
<!--                    jQuery(function ($) {-->
<!--                        //создания специального символа h для маски-->
<!--                        $.mask.definitions['a'] = false;-->
<!--                        $("#url").mask("https://yadi.sk/d/?***************");-->
<!--                    });-->
<!--                </script>-->
<!--                </td>-->
<!--                </tr>-->
            </table>
        </td>
        <td>
            <table id="days" class="workdays">
                <tr ><td style="padding-bottom: 20px" colspan="2" style="width: 80px;"><span class="register-fields-h2">Рабочие дни</span></td></tr>
                <tr>
                    <td><span class="workdays-span">ПН</span></td>
                    <td style="text-align: left;">
                        <input class="workday" ng-model="uniData.workDays.monday" type="checkbox"> </td>
                </tr>
                <tr>
                    <td><span class="workdays-span">ВТ</span></td>
                    <td style="text-align: left;">
                        <input class="workday" ng-model="uniData.workDays.tuesday" type="checkbox"> </tr>
                <tr>
                    <td><span class="workdays-span">СР</span></td>
                    <td style="text-align: left;">
                        <input class="workday" ng-model="uniData.workDays.wednesday" type="checkbox" checked> </td>
                </tr>
                <tr>
                    <td><span class="workdays-span">ЧТ</span></td>
                    <td style="text-align: left;">
                        <input class="workday" ng-model="uniData.workDays.thursday" type="checkbox" checked> </td>
                </tr>
                <tr>
                    <td><span class="workdays-span">ПТ</span></td>
                    <td style="text-align: left;">
                        <input class="workday" ng-model="uniData.workDays.friday" type="checkbox" checked> </td>
                </tr>
                <tr>
                    <td><span class="workdays-span">СБ</span></td>
                    <td style="text-align: left;">
                        <input class="workday" ng-model="uniData.workDays.saturday" type="checkbox"> </td>
                </tr>
                <tr>
                    <td><span class="workdays-span">ВС</span></td>
                    <td style="text-align: left;">
                        <input class="workday" ng-model="uniData.workDays.sunday" type="checkbox"> </td>
                </tr>
            </table>
        </td>
    </table>
    <table ng-show="viewPage2" class="lesson">
        <tr>
            <td>Номер занятия</td>
            <td>Время начала</td>
        </tr>
        <tr class="lesson-tr">
            <td>1</td>
            <td>
                <input id="posLes1" class="lesson-input" ng-model="uniData.lessonGridPosition.position1" type="text">
            </td>
        </tr>
        <tr class="lesson-tr">
            <td>2</td>
            <td>
                <input id="posLes2" class="lesson-input" ng-model="uniData.lessonGridPosition.position2" type="text">
            </td>
        </tr>
        <tr class="lesson-tr">
            <td>3</td>
            <td>
                <input id="posLes3" class="lesson-input" ng-model="uniData.lessonGridPosition.position3" type="text">
            </td>
        </tr>
        <tr class="lesson-tr">
            <td>4</td>
            <td>
                <input id="posLes4" class="lesson-input" ng-model="uniData.lessonGridPosition.position4" type="text">
            </td>
        </tr>
        <tr class="lesson-tr">
            <td>5</td>
            <td>
                <input id="posLes5" class="lesson-input" ng-model="uniData.lessonGridPosition.position5" type="text">
            </td>
        </tr>
        <tr class="lesson-tr">
            <td>6</td>
            <td>
                <input id="posLes6" class="lesson-input" ng-model="uniData.lessonGridPosition.position6" type="text">
            </td>
        </tr>
        <tr class="lesson-tr">
            <td>7</td>
            <td>
                <input id="posLes7" class="lesson-input" ng-model="uniData.lessonGridPosition.position7" type="text">
            </td>
        </tr>
    </table>
    <div class="divLine">
        <button id="returnButtonUni" ng-show="returnShow" ng-click="return()" class="buttonClass" style="font-size: 22px">Назад</button>
        <button id="clickUni" ng-click="button_click()" class="buttonClass" style="font-size: 22px">{{buttonLabel}}</button>
        <br><span ng-if="messageShow">{{messageInfo}}</span>
    </div>
</div>