<div class="register-fields2" id="settingsPage" >
    <table style="margin-bottom: 10px">
        <tr>
            <td>
                <span class="register-label2">ФИО:</span>
            </td>
            <td colspan="2" style="text-align: left">
                <input type="text" id="nameInput" spellcheck="false" class="register-input" style="width: 310px">
            </td>
        </tr>
        <tr >
            <td style="padding-top: 15px">
                <span class="register-label2">Тел.:</span>
            </td>
            <td style="padding-top: 15px">
                <input id="telInputSet"  style="width: 200px" ng-show="!codeSended" type="text" class="register-input">
                <span ng-if="codeSended" style="width: 50px">Присланный код:</span>
                <input ng-if="codeSended" style="width: 50px" type="text" id="codeInput" class="register-input">
            </td>
            <td style="padding-top: 15px">
                <button id="varifyId" ng-click="varifytel()" class="buttonClass">{{codeButLabel}}</button>
            </td>
        </tr>
        <tr ng-show="errorShowSet">
            <td colspan="3">
                <span style="font-style: italic">{{errorMess}}</span>
            </td>
        </tr>
        <tr ng-show="user.role >= 3">
            <td colspan="3">
                <span ng-if="user.role >= 3" class="register-label2" style="padding-top: 20px">Ваши группы:</span>
                <input ng-show="user.role >= 3" type="text" id="groupsset" spellcheck="false" placeholder="выберите новые группы" class="register-input" style="width: 210px; margin-top: 10px; text-align: center; height: 20px; font-size: 10pt"/>
                <br> <group-box ng-if="user.role >= 3"></group-box>
            </td>
        </tr>
    </table>
    <button id="saveSett" ng-click="savesettings()" style="margin-bottom: 20px" class="buttonClass">Сохранить изменения</button>
    <br>
    <span class="register-fields2" style="font-style: italic" ng-show="messShow">Данные успешно сохранены</span>

</div>
