<div class="register-fields" id="settingsPage">
    <table>
        <tr>
            <td>
                <span class="register-label2">ФИО:</span>
            </td>
            <td colspan="2" style="text-align: left">
                <input type="text" id="nameInput" class="register-input" style="width: 280px">
            </td>
        </tr>
        <tr>
            <td>
                <span class="register-label2">Тел.:</span>
            </td>
            <td>
                <input ng-if="!codeSended" type="text" id="telInput" class="register-input">
                <span ng-if="codeSended">Присланный код:</span>
                <input ng-if="codeSended" style="width: 50px" type="text" id="codeInput" class="register-input">
            </td>
            <td>
                <button id="varifyId" ng-click="varifytel()" class="buttonClass">{{codeButLabel}}</button>
            </td>
        </tr>
    </table>
    <span ng-show="user.role >= 3" class="register-label2">Ваши группы:</span>
    <input ng-show="user.role >= 3" type="text" id="groupsset" spellcheck="false" placeholder="выберите новые группы" class="register-input" style="width: 160px; margin-top: 10px; height: 20px; font-size: 10pt"/>
    <br> <group-box ng-show="user.role >= 3"></group-box>
    <table>
        <tr>
            <td colspan="3"><button id="saveSett" ng-click="varifytel()" class="buttonClass">Сохранить изменения</button>
            </td>
        </tr>
    </table>

</div>