<!DOCTYPE html>
<html lang="en" ng-app="addUniversityApp">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../icon/icon.png">
    <title>Добавление университета</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Time For Study</title>
    <link href="../css/mainStyle.css" rel="stylesheet" />
    <link href="../css/registerUniversity.css" rel="stylesheet" />
    <link href="../css/menu.css" rel="stylesheet" />
    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/jquery/jquery.maskedinput.min.js"></script>
</head>

<body>
<div class="mainBlock" style="height: 700px;" ng-controller="control">
    <div class="header"><span>Time For Study</span>
        <nav class="top-menu">
            <ul class="menu-main">
                <ul class="menu-main">
                    <li>
                        <input type="radio" name="inset" value="" id="tab_1" checked onclick="showHide('timetable')" data-block-id="timetabel">
                        <label for="tab_1" id="timetabel_label">Расписание</label>
                    </li>
                    <li>
                        <input type="radio" name="inset" value="" id="tab_2" onclick="showHide('search')" data-block-id="search">
                        <label for="tab_2" id="search_label">Поиск</label>
                    </li>
                    <li>
                        <input type="radio" name="inset" value="" id="tab_3" onclick="showHide('settings')" data-block-id="settings">
                        <label for="tab_3" id="settings_label">Настройки</label>
                    </li>
                </ul>
            </ul>
        </nav>
    </div>
    <div class="register-block">
        <div class="register-fields">
            <div class="register-header"><span>Регистрация Университета</span></div>
            <table ng-show="viewPage1">
                <td>
                    <div> <span class="register-label">Название</span>
                        <input id="name" ng-model="uniData.Name" type="text" class="register-input"> </div>
                    <div> <span class="register-label">Количество повторяющихся недель</span>
                        <input type="number" id="weeks" min="1" max="4" ng-model="uniData.Weeks" value="1" step="1" class="register-input" style="height: 20px; width: 40px">
                        <script>
                            $(function () {
                                $("#weeks").mask("9");
                            });
                        </script>
                    </div>
                    <div> <span class="register-label">Продолжительность занятий</span>
                        <input id="duration" ng-model="uniData.Duration" type="text" class="register-input" style="width: 50px;"><span>мин.</span>
                        <script>
                            $(function () {
                                $("#duration").mask("99");
                            });
                        </script>
                    </div>
                    <div> <span class="register-label">Код корпоративного цвета</span>
                        <input placeholder="#000000" ng-model="uniData.Color" type="text" id="color" class="register-input" style="width: 60px;">
                        <script>
                            jQuery(function ($) {
                                //создания специального символа h для маски
                                $.mask.definitions['q'] = '[A-Fa-f0-9]';
                                $("#color").mask("#qqqqqq", {placeholder:"#FFFFFF"});
                            });
                        </script>
                    </div>
                    <div> <span class="register-label">Ссылка на логотип</span>
                        <input id="url" placeholder="https://yadi.sk/d/" ng-model="uniData.Logo" type="text" class="register-input">
                    </div>
                    <script>
                        jQuery(function ($) {
                            //создания специального символа h для маски
                            $.mask.definitions['a'] = false;
                            $("#url").mask("https://yadi.sk/d/?***************");
                        });
                    </script>
                </td>
                <td>
                    <h2  class="register-fields-h2">Рабочие дни</h2>
                    <table id="days" class="workdays">
                        <tr>
                            <td><span class="workdays-span">ПН</span></td>
                            <td>
                                <input class="workday" ng-model="uniData.WD_mon" type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td><span class="workdays-span">ВТ</span></td>
                            <td>
                                <input class="workday" ng-model="uniData.WD_tue" type="checkbox"> </tr>
                        <tr>
                            <td><span class="workdays-span">СР</span></td>
                            <td>
                                <input class="workday" ng-model="uniData.WD_wed" type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td><span class="workdays-span">ЧТ</span></td>
                            <td>
                                <input class="workday" ng-model="uniData.WD_thu" type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td><span class="workdays-span">ПТ</span></td>
                            <td>
                                <input class="workday" ng-model="uniData.WD_fri" type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td><span class="workdays-span">СБ</span></td>
                            <td>
                                <input class="workday" ng-model="uniData.WD_sat" type="checkbox"> </td>
                        </tr>
                        <tr>
                            <td><span class="workdays-span">ВС</span></td>
                            <td>
                                <input class="workday" ng-model="uniData.WD_sun" type="checkbox"> </td>
                        </tr>
                    </table>
                </td>
            </table>
            <table ng-show="viewPage2" class="lesson">
                <tr>
                    <td>Номер занятия</td>
                    <td>Время начала</td>
                </tr>
                <tr class="lesson-tr">
                    <td>1</td>
                    <td>
                        <input class="lesson-input" ng-model="lessonGrid1" type="text">
                    </td>
                </tr>
                <tr class="lesson-tr">
                    <td>2</td>
                    <td>
                        <input class="lesson-input" ng-model="lessonGrid2" type="text">
                    </td>
                </tr>
                <tr class="lesson-tr">
                    <td>3</td>
                    <td>
                        <input class="lesson-input" ng-model="lessonGrid3" type="text">
                    </td>
                </tr>
                <tr class="lesson-tr">
                    <td>4</td>
                    <td>
                        <input class="lesson-input" ng-model="lessonGrid4" type="text">
                    </td>
                </tr>
                <tr class="lesson-tr">
                    <td>5</td>
                    <td>
                        <input class="lesson-input" ng-model="lessonGrid5" type="text">
                    </td>
                </tr>
                <tr class="lesson-tr">
                    <td>6</td>
                    <td>
                        <input class="lesson-input" ng-model="lessonGrid6" type="text">
                    </td>
                </tr>
                <tr class="lesson-tr">
                    <td>7</td>
                    <td>
                        <input class="lesson-input" ng-model="lessonGrid7" type="text">
                    </td>
                </tr>
                <script>
                    $(function () {
                        $(".lesson-input").mask("99:99");
                    });
                </script>
            </table>
            <tr class="divLine">
                <button ng-show="returnShow" ng-click="return()" class="button" style="font-size: 22px">Назад</button>
                <button ng-click="button_click()" class="button" style="font-size: 22px">{{buttonLabel}}</button>
            </div>
        </div>
    </div>
</div>

<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular/angular.min.js"></script>
<script src="../lib/angular/angular-route.js"></script>
<script src="../js/app.js"></script>
<script src="../js/services.js"></script>
<script src="../js/filters.js"></script>
<script src="../js/directives.js"></script>
<script src="../js/add-university.js"></script>
<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
</body>

</html>