<!DOCTYPE html>
<html lang="en" ng-app="homepg">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../icon/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Time For Study</title>

    <link href="../css/mainStyle.css" rel="stylesheet" />
    <link href="../css/menu.css" rel="stylesheet" />
    <link href="../css/timetable.css" rel="stylesheet" />
    <link href="../css/searchStyle.css" rel="stylesheet" />
    <link href="../css/universitySettings.css" rel="stylesheet" />
    <link href="../css/addLessonForm.css" rel="stylesheet" />

    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular/angular-route.js"></script>
    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/jquery/jquery.maskedinput.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
<!--    <script src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>-->
<!--    <script src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css"></script>-->
<!--    <script src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/mCSB_buttons.png"></script>-->

    <script src="../js/homepage.js"></script>
</head>

<body ng-controller="control">
<div id="mainBlockId" class="mainBlock">
    <div style="height: 150px">
        <table style="width: 100%">
            <tr>
                <td>
                    <span class="header">TimeForStudy</span>
                </td>
                <td >
                    <p class="universityNameHeader">{{university.name}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" ng-if="studPages && !profPages"><p class="universityNameHeader" style="font-size: 18px; text-align: right; width: 100%">Привет, {{user.name}}</p></td>
                <td colspan="2" ng-if="profPages || dispetcherPages"><p class="universityNameHeader" style="font-size: 18px; text-align: right; width: 100%">Здравствуйте, {{user.name}}</p></td>
            </tr>
        </table>
    </div>
    <div>
        <nav id="menu" class="top-menu">
            <ul class="menu-main">
                <li ng-if="studPages">
                    <input type="radio" name="inset" value="" id="tab_1" ng-checked="studPages" onclick="showHide('timetable')" data-block-id="timetable">
                    <label for="tab_1" id="timetabel_label">Расписание</label>
                </li>
                <li ng-if="studPages">
                    <input type="radio" name="inset" value="" id="tab_2" onclick="showHide('search')" data-block-id="search">
                    <label for="tab_2" id="search_label">Поиск</label>
                </li>
                <li ng-if="profPages">
                    <input type="radio" name="inset" value="" id="tab_3" onclick="showHide('groupInfo')" data-block-id="group">
                    <label for="tab_3" id="group_label">Группы</label>
                </li>
                <li ng-show="dispetcherPages">
                    <input type="radio" name="inset" value="" id="tab_4" ng-checked="dispetcherPages" onclick="showHide('lesson')" data-block-id="lesson">
                    <label for="tab_4" id="lesson_label">Добавить занятие</label>
                </li>
                <li ng-show="dispetcherPages">
                    <input type="radio" name="inset" value="" id="tab_5" onclick="showHide('parser')" data-block-id="parser">
                    <label for="tab_5" id="parser_label">Добавить данные</label>
                </li>
                <li>
                    <input type="radio" name="inset" value="" id="tab_6" onclick="showHide('settings')" data-block-id="settings">
                    <label for="tab_6" id="settings_label">Настройки</label>
                </li>
            </ul>
        </nav>
    </div>
    <div class="pages">
        <div id="timetable" class="page" ng-show="studPages">
            <timetable-view type="main"></timetable-view>
        </div>
        <div id="search" class="page" ng-show="studPages">
            <search-view type="main" ng-if="studPages"></search-view>
            <timetable-view ng-if="studPages" entity1="entityToViewInTimeTable" type="search"></timetable-view>
            <info-box ng-show="infoShow"></info-box>
        </div>
        <div id="groupInfo" class="page" ng-show="profPages">
            <group-list></group-list>
        </div>
        <div id="lesson"  class="page" ng-show="dispetcherPages">
            <table style="width: 100%">
                <tr>
                    <td><add-lesson-form ng-if="dispetcherPages"></add-lesson-form></td>
                    <td>
                        <search-view type="dispatcher"></search-view>
                        <timetable-view ng-if="dispetcherPages" type="search"></timetable-view>
                        <info-box ng-if="infoShow"></info-box>
                    </td>
                </tr>
            </table>
        </div>
        <div id="parser" class="page" ng-show="dispetcherPages">
            <parser></parser>
        </div>
        <div id="settings" class="page">
            <university-settings ng-if="dispetcherPages"></university-settings>
            <user-settings ng-if="studPages"></user-settings>
        </div>
    </div>
</div>
<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
</body>

</html>