.groupAddBlock{
    display: inline-block;
    /*background-color: #5cb85c;*/
    width: 680px;
    border-color: black;
    top: 0;
    text-align: center;
    height: 460px;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    /*margin: 20px auto 0;*/
    margin-left: auto;
    margin-right: auto;
}

.groupAddBlock-field p{
    text-align: center;
}

.groupAddBlock td,tr{
    height: 30px;
    margin: 0px auto;
    padding: 0px;
}

.groupAddBlock ul{

}

.groupAddBlock table{

}

.addLessonBlock{
    background-color: #adadad;
    border-radius: 10px;
    width: 700px;
}