/* app css stylesheet */

.outer {
    /*position: relative;*/
    /*    content: '';*/
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #ffc;
}

.loginBlock {
    vertical-align: middle;
    text-align: center;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 550px;
    height: 200px;
    background: #8ED9B6;
    border-radius: 10px;
}

.centerBlock {
    text-align: center;
    /*    background: #8ED9B6;*/
}

.header {
    font-family: "Arial", Georgia, Serif;
    font-weight: 600;
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
}

.errorMessage {
    color: red;
    font-size: 10px;
}

.button1 {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px 0px;
    margin: 2px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    background-color: rgb( 43, 153, 91);
    border: 1px solid rgb( 33, 126, 74);
}

.button1:hover {
    background-color: rgb( 75, 183, 141);
}

.labelLine {
    margin: auto;
}

.divUnit {
    width: 45px;
    /* Ширина */
    padding: 5px;
}

.divLine {
    width: 550px;
    /* Ширина */
    text-align: left;
    padding: 5px;
    /* Поля */
    margin: 2px auto;
    transition: 0.6s;
    -moz-box-sizing: border-box;
    /* Для Firefox */
    -webkit-box-sizing: border-box;
    /* Для Safari и Chrome */
    box-sizing: border-box;
    /* Для IE и Opera */
}

input {
    width: 200px;
    font-size: 13px;
    padding: 7px 0 4px 10px;
    border: 2px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

label {
    font-size: 15px;
    padding: 7px 0 4px 10px;
}