/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.registrationFields{
    visibility: hidden
}

.loginBlock{
/*    text-align: center;*/
/*    width: 50%;*/
/*    display: inline-block;*/
}

.header{
    position: relative;
    margin-left: 167px;
    justify-content: center;
    font-size: 32px
}

.errorMessage{
    color: red;
}