@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
.top-menu {
    margin: 0px;
    position: relative;
    background: #339966;
    /*width: 100%;*/
    max-width: 1400px;
    min-width: 1000px;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, .1), inset -1px 0 0 rgba(255, 255, 255, .1), inset 150px 0 150px -150px rgba(255, 255, 255, .12), inset -150px 0 150px -150px rgba(255, 255, 255, .12);
}

.top-menu:before,
.top-menu:after {
    content: "";
    position: absolute;
    /*z-index: 2;*/
    left: 10px;
    /*width: 100%;*/
    max-width: 100%;
    min-width: 1400px;
    height: 3px;
}

.top-menu:before {
    top: 0;
    border-bottom: 3px dashed rgba(255, 255, 255, .2);
}

.top-menu:after {
    bottom: 0;
    border-top: 3px dashed rgba(255, 255, 255, .2);
}

.top-menu input{
    display: none;
}

.menu-main {
    /*width: 100%;*/
    max-width: 100%;
    min-width: 1400px;
    list-style: none;
    padding: 0;
    margin: 10px;
    text-align: center;
    font-size: 23pt;
}

.menu-main:before,
.menu-main:after {
    content: "";
    position: absolute;
    width: 85px;
    height: 0;
    top: 8px;
    border-top: 18px solid inherit;
    border-bottom: 18px solid inherit;
    transform: rotate(360deg);
    /*z-index: -1;*/
}

.menu-main:before {
    left: -30px;
    border-left: 12px solid rgba(255, 255, 255, 0);
}

.menu-main:after {
    right: -30px;
    border-right: 12px solid rgba(255, 255, 255, 0);
}

.menu-main li {
    display: inline-block;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu-main label {
    text-decoration: none;
    display: inline-block;
    padding: 8px 28px;
    font-family: 'PT Sans Caption', sans-serif;
    color: white;
    transition: .3s linear;
    vertical-align: center;
    height: 100%;
}

.menu-main label.current,
.menu-main label:hover {
    background: rgba(0, 0, 0, .2);
}

@media (max-width: 680px) {
    .top-menu {
        margin: 0;
    }
    .menu-main li {
        display: block;
        margin-right: 0;
    }
    .menu-main:before,
    .menu-main:after {
        content: none;
    }
    .menu-main a {
        display: block;
    }
}

#tab_1:checked ~ #timetabel_label, 
#tab_2:checked ~ #search_label,
#tab_3:checked ~ #group_label,
#tab_4:checked ~ #lessonAdd_label,
#tab_5:checked ~ #parser_label,
#tab_7:checked ~ #lessonUpdate_label,
#tab_6:checked ~ #settings_label { background: rgba(0, 0, 0, .2); }