#timetable{
    background-color:darkseagreen;
    border-radius: 15px;
}

#timetable table {
    padding-top: 40px;
    width: 100%;
    height: 350px;
/*    background-color: aqua;*/
}

#timetable td{
    padding: 0px; /* Поля вокруг текста */
    border: 1px solid #fff; 
    background-color: darkkhaki;
    border-radius: 10px;
    margin: 0px;
/*    text-align: left;*/
}

#timetable ul{
    text-align: left;
    margin-top: 20px;
    padding-left: 10px;
}

.dayName{
    background-color:floralwhite;
    font-weight: 550;
    width: 40px;
    height: 10px;
    padding: 5px;
    font-size: 18pt;
    border-radius: 10px;
}

#timetable li{
    font-size: 13pt;
    list-style-type: none;
}