.register-fields {
    border-color: black;
    top: 0;
    text-align: center;
    height: 420px;
    width: 760px;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    margin: 20px auto 0;
    padding-top: 20px;
    /*box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.1);*/
}

.register-fields div {
    position: relative;
    height: 20px;
    margin: 35px 0px;
}

.register-fields td{

}

.register-header {
    padding-bottom: 25px;
    margin-top: 20px;
    height: 50px;
}

.register-header span {
    padding: 10px 25px;
    vertical-align: middle;
    font-weight: 600;
    border-radius: 15px;
    background-color: aquamarine;
    width: 600px;
    height: 45px;
    font-size: 35px;
    margin: 30px auto;
    font-family: "Arial", Georgia, Serif;
}

.register-input {
    /*width: 200px;*/
    height: 32px;
    font-size: 17px;
    padding: 7px 0 4px 10px;
    border: 2px solid #cecece;
    background: #F6F6f6;
    border-radius: 10px;
}

.register-label {
    font-family: "Arial", Georgia, Serif;
    width: 30px;
    font-size: 20px;
    /*padding: 7px 0 4px 10px;*/
}

.workdays {
    width: 200px;
    height: 200px;
    /*border: 1px solid grey;*/
}

.workdays tr {
    position: relative;
    text-align: right;
    vertical-align: middle;
    position: relative;
    height: 15px;
    width: 20px;
    margin: 15px 0px;
}

.workdays-span {
    font-family: "Arial", Georgia, Serif;
    margin: 10px 0px;
    text-align: right;
    font-size: 15pt;
}

.workdays input {
    zoom: 1.5;
}

.lesson{
    margin: 0 auto;
    width: 180px;
    /*padding-bottom: 25px;*/
    border-radius: 10px;
}

.lesson tr,td{
    padding: 1px;
}

.lesson-tr{
    margin: 0px;
    vertical-align: center;
    height: 20px;
    font-size: 15pt;
    background-color: #CCCC99;
    border-radius: 15px;
}

.lesson-tr td{
    border-radius: 10px;
}

.lesson-input{
    text-align: center;
    -webkit-appearance: none;
    width: 55px;
    height: 24px;
    font-size: 20px;
    padding: 2px 0 4px 0px;
    border: 2px solid #cecece;
    background: #F6F6f6;
    border-radius: 10px;
}

.errorMessage span{
    margin: 0;
    height: 10px;
    padding: 0;
    font-size: 12pt;
}

.register-fields-h2 {
    background-color: #cccccc;
    /*margin: 10px;*/
    font-size: 28px;
    width: 80px;
    font-family: "Arial", Georgia, Serif;
    height: 50px;
    padding: 5px;
    border-radius: 8px;
}

.register-fields-h2 span{
    height: 50px;
}

.register-fields table {
    margin: 0 auto;
}