<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="icon/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Time For Study</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/app.css" /> </head>

<body>
<form role="form" ng-controller="loginController">
    <div class="loginBlock">
        <div class="header">Time For Study</div>
        <p class="divLine">
            <label id="phoneLabel" for="inputPhone">Телефон:</label>
            <input width="100" id="inputPhone" placeholder="Phone 7xxxxxxxxxx" ng-model="formInfo.Phone" [(ngModel)]="bill.amount" #amount="ngModel" max="11" required> <span class="errorMessage" ng-show="postResultMessage">{{postResultMessage}}</span> </p>
        <p class="divLine" ng-show="enterCode">
            <label id="codeLabel" for="inputPhone" class="">Код из смс:</label>
            <input width="300" class="divUnit" id="inputCode" placeholder="" ng-model="formInfo.Code" [(ngModel)]="bill.amount" #amount="ngModel" max="4" required> <span ng-show="phoneRequired">{{phoneRequired}} </span></p>
        <p class="divLine" ng-show="registartionFields">
            <label id="nameLabel" for="inputPhone" class="">ФИО:</label>
            <input class="form-control" id="inputName" placeholder=""> <span ng-show="phoneRequired">{{phoneRequired}}</span> </p>
        <p class="divLine" ng-show="registartionFields">
            <label id="groupLabel" for="inputPhone" class="">Код из смс:</label>
            <input class="form-control" id="inputGroup" placeholder="" ng-model="formInfo.Code" [(ngModel)]="bill.amount" #amount="ngModel" max="11" required> <span ng-show="phoneRequired">{{phoneRequired}}</span> </p>
        <p class="divLine" ng-show="openRegistrationButton">
            <button type="button1" ng-click="registrateOpen()">Зарегистрироваться</button>
        </p>
        <p class="divLine" ng-show="enterLogin">
            <button class="button1" type="submit" ng-click="login()">{{buttonLabel}}</button>
        </p>
    </div>
</form>
<script src="lib/common/jquery.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>

</html>