<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Time For Study</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/loginStyle.css" />
<!--    <link rel="stylesheet" href="../static/" />-->
    <link rel="stylesheet" href="../css/mainStyle.css" />
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/jquery/jquery.maskedinput.min.js"></script>
</head>
<body>
<form role="form" ng-controller="loginController">
    <div class="mainBlock">
        <div class="header">Time For Study</div>
        <p class="divLine">
            <label id="phoneLabel" for="inputPhone">Телефон:</label>
            <input id="inputPhone" type="text" placeholder="Phone 7xxxxxxxxxx" ng-model="formInfo.Phone" name="phone">
            <script>
                $(function () {
                    //2. Получить элемент, к которому необходимо добавить маску
                    $("#phone").mask("8(999) 999-9999");
                });
            </script>
        </p>
        <p class="divLine" ng-show="enterCode">
            <label id="codeLabel" for="inputCode">Код из смс:</label>
            <input width="300" id="inputCode" placeholder="" ng-model="formInfo.Code"></p>
        <p class="divLine" ng-show="registartionFields">
            <label id="nameLabel" for="inputName">ФИО:</label>
            <input width="300" id="inputName" placeholder="" ng-model="formInfo.Name">  </p>
        <p class="divLine" ng-show="registartionFields">
            <label id="groupLabel" for="inputGroup">Номер группы:</label>
            <input width="300" id="inputGroup" placeholder="Необязательно" ng-model="formInfo.Group"> </p>
        <tr class="divLine">
            <p id="message" ng-show="postResultMessage"><span class="errorMessage" >{{postResultMessage}}</span> </p>
            <button ng-show="openRegistrationButton" class="button" ng-click="registrateOpen()">Зарегистрироваться</button>
            <button ng-show="enterLogin" class="button" ng-click="login()">{{buttonLabel}}</button>
        </tr>
    </div>

</form>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/index-controller.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>

</html>